

@keyframes aboutBtn {
    0%{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    }
    100%{
        box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 0px 3px;
        translate: 0px -5px;
    }
}

/* @keyframes scale {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
} */

@keyframes infiniteRotate{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}